body {
  background-color: var(--mine-shaft10);
}
.container {
  height: 100% !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background-color: var(--mine-shaft10);
}
.contactsTable {
  width: 930px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}
.containerTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 18px 0px;
  gap: 10px;
  height: 64px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: var(--text-color);
}
.table {
  height: 90vh;
  box-sizing: border-box;
  padding: 0px;
  background-color: var(--white);
  border: 1px solid var(--mine-shaft30);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 16px;

}
.tableTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  gap: 10px;
  height: 68px;
}
.search {
  width: 250px;
}

.trNav {
  height: 42px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: var(--mine-shaft40);
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid var(--mine-shaft30);
}
.thName {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 16px 13px 24px;
  gap: 10px;
  width: 360px;
  height: 42px;
}
.thEmail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 16px;
  gap: 10px;
  width: 300px;
  height: 42px;
}
.thPhone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 13px 16px;
  gap: 10px;
  width: 170px;
}
.thActions {
  width: 96px;
}
.btnDesc {
  background-color: var(--white);
  transition: transform 0.3s ease-in-out;
}

.btnDesc.rotate {
  transform: rotate(180deg);
}
.noContacts {
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textNoContacts {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: var(--mine-shaft100);
  margin-top: 16px;
  margin-bottom: 24px;
}
.buttonNoContact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.trBody {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: var(--mine-shaft);
  text-align: justify;
}
.itemHover {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 56px;
  border-radius: 8px;
  margin-top: 4px;
  transition: 0.5s ease;

  &:hover {
    background-color: var(--mine-shaft10);
    transition: 0.5s ease;
  }
}
.selected {
  background-color: var(--mine-shaft10) !important;
}
.tdPhoto {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 0px;
  gap: 10px;
  width: 56px;
  height: 64px;
  cursor: pointer;
}
.tdName {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 23px 16px;
  gap: 10px;
  width: 360px;
  height: 64px;
}
.name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 23px 16px;
  gap: 10px;
}
.tdEmail {
  width: 300px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 23px 16px;
  gap: 10px;
  span {
    width: 284px;
    word-wrap: break-word;
    text-align: justify;
  }
}
.tdPhone {
  width: 170px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 23px 16px;
  gap: 10px;
}
.tdActions {
  width: 96px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 22px 24px 22px 16px;
  gap: 16px;
}

.tableContacts {
  overflow-y: scroll;
  height: 82vh;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--mine-shaft30);
    border-radius: 0 10px 500px 0;
  }
  &::-webkit-scrollbar-track {
    background-color: var(--whiter);
  }
}

@media screen and (max-width: 480px) {
  .table {
    width: 100%;
    height: 100vh;
  }
  .contactsTable {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 105vh;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--mine-shaft30);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--whiter);
    }
  }

  .tableContacts {
    width: 100% !important;
    height: 70vh;
    border-radius: 12px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .tableTitle {
    flex-direction: column-reverse;
    height: 120px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .table {
    width: 100%;
    height: 100vh;
  }
  .contactsTable {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 105vh;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--mine-shaft30);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--whiter);
    }
  }

  .tableContacts {
    width: 100% !important;
    height: 82vh;
    border-radius: 12px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
@media screen and (max-width: 782px) and (orientation: landscape) {
  .table {
    width: 100%;
    height: 100vh;
  }
  .contactsTable {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 105vh;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--mine-shaft30);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--whiter);
    }
  }

  .tableContacts {
    width: 100% !important;
    height: 60vh;
    border-radius: 12px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
@media screen and (min-width: 783px) and (max-width: 1024px) and (orientation: landscape) {
  .table {
    width: 100%;
    height: 100vh;
    
  }
  .contactsTable {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 105vh;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--mine-shaft30);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--whiter);
    }
  }

  .tableContacts {
    width: 100%;
    height: 80vh;
    border-radius: 12px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
